<!doctype html>
<html>
<head>
<head>
<body>

<div style="width: 47%; margin: 0px auto;">
    <div>
        <h1>Hello World!</h1>
    </div>
    <div>
	<img src="http://wdavis.me/wp-content/uploads/2018/01/Hello-World.png">
    </div>
    <div>
	<?php
	    phpinfo();
	?>
    </div>
</div>

</body>
</html>

